@import url("reset.css");
@import url("variables.css");
@import url("common.css");

@import url("hero.css");
@import url("intro.css");
@import url("couple.css");
@import url("gallery.css");
@import url("calendar.css");
@import url("countdown.css");
@import url("location.css");
@import url("parking.css");
@import url("account.css");
@import url("rsvp.css");
@import url("music.css");

@import url("animation.css");
@import url("responsive.css");

/* SCROLL 세로선 움직임 */
@keyframes mobileScrollLine {
  0% {
    opacity: 0.3;
    transform: translateY(-5px);
  }

  50% {
    opacity: 1;
    transform: translateY(5px);
  }

  100% {
    opacity: 0.3;
    transform: translateY(-5px);
  }
}
